[Unit]
Description=Glean for interface %I with NetworkManager
Wants=local-fs.target
After=local-fs.target

# Red Hat
ConditionPathExists=!/etc/sysconfig/network-scripts/ifcfg-%I
# SuSE
ConditionPathExists=!/etc/sysconfig/network/ifcfg-%I

[Service]
Type=oneshot
User=root
Environment="ARGS=--interface %I"
ExecStart=%%GLEANSH_PATH%%/glean.sh --use-nm --debug $ARGS
RemainAfterExit=true

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
