[Unit]
Description=Glean for interface %I
Before=network-pre.target
Wants=network-pre.target

ConditionPathExists=!/etc/sysconfig/network-scripts/ifcfg-%I

[Service]
Type=oneshot
User=root
ExecStartPre=%%GLEANSH_PATH%%/glean.sh --interface %I
ExecStart=/sbin/ifup %I
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
