[Unit]
Description=Glean for interface %I
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

# Red Hat
ConditionPathExists=!/etc/sysconfig/network-scripts/ifcfg-%I
# Suse
ConditionPathExists=!/etc/sysconfig/network/ifcfg-%I
# Debuntu
ConditionPathExists=!/etc/network/interfaces.d/%I.cfg

[Service]
Type=oneshot
User=root
Environment="ARGS=--interface %I"
ExecStartPre=%%GLEANSH_PATH%%/glean.sh ${ARGS}
ExecStart=/sbin/ifup %I
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
